/a.exe
/bankers_net.c
/banker_res.c
/banker_res_net.c
/bank_javat.c
/bank_res_augsti.c
/fcfs.c
/lfu_array.c
/lfu_ash.c
/lfu_chat.c
/lfu_git.c
/lfu_minnu.c
/lfu_my.c
/lfu_net.c
/lfu_samh.c
/p.exe
/pagerepl_exam.c
/page_repl_array.c
/priority.c
/round.c
/round_new.c
/sjf.c
/sjfnew.c